
.markdown-preview-view p,
.markdown-source-view.mod-cm6 .cm-line {
  line-height: 1.5 !important;
}


.math.math-inline {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}


.math-inline mjx-container[jax="CHTML"] {
  font-size: 150% !important;
}

/* Increase size of math blocks */
.math-block mjx-container[jax="CHTML"] {
  font-size: 150% !important;
}